<!DOCTYPE html>
<html>
<head>
	<title>会话管理</title>
</head>
<body>

<h1>会话管理</h1>

<% if(isLogined){ %>
	<a href="/logout" id="logout">退出登陆</a>
<% }else{ %>	
	<button id="login">登陆</button>
<% } %>	

<script type="text/javascript" src="/jquery-3.1.0.min.js"></script>
<script type="text/javascript">
	$('#login').click(function(data){
		$.ajax({
			url: '/login',
			type: 'POST',
			data: {
				name: 'chyingp',
				password: 123456
			},
			success: function(data){
				if(data.ret_code === 0){
					location.reload();
				}	
			}
		});
	});

	// $('#logout').click(function(data){
	// 	$.ajax({
	// 		url: '/logout',
	// 		type: 'POST',
	// 		success: function(data){
	// 			if(data.ret_code === 0){
	// 				location.reload();
	// 			}	
	// 		}
	// 	});	
	// });
</script>

</body>
</html>